/////////////////////////////////////////
// PROGRESS
.progress-container {
  background: $color-primary-white;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
} 

.progress {
  background: $color-primary-2;
}