/////////////////////////////////////////
// PROGRESS
.progress-container {
  background: $color-primary-white;
  border-radius: $border--radius-1;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
} 

.progress {
  background: $color-primary-2;
  border-radius: $border--radius-1;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/////////////////////////////////////////
// CONTROLS
.player-controls {
  position: relative;
  top: -15px;
  left: 120px;
  width: 200px;
}

.fas {
  font-size: 30px;
  color: $color-primary-3;
  margin-right: 30px;
  cursor: pointer;
  user-select: none;

  &:hover {
    filter: brightness(80%);
  }
}

.main-button {
  font-size: 40px;
}

